name: Link Checker

on:
  push:
    branches:
      - readme
      - main
  pull_request:
    branches:
      - main

jobs:
  linkChecker:
    permissions:
      contents: read
      issues: write # required for peter-evans/create-issue-from-file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@f613c4a64e50d792e0b31ec34bbcbba12263c6a6
        with:
          # Check all markdown, html files in repo
          args: "--verbose './**/*.md' './**/*.html'"
          # Use makdown as output format (easier to work on issues)
          format: markdown
          # Don't fail action on broken links
          fail: false

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@e8ef132d6df98ed982188e460ebb3b5d4ef3a9cd
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated
